############## Commands ##########################
### docker-compose rm -f
### docker-compose up --build --no-cache --force-recreate  -d
### docker-compose logs -f
### docker container list

############## Docs ##############################
# https://hub.docker.com/_/couchdb

version: "3.7"
services:
  couchdb:
    build:
      context: ./
      dockerfile: ./Dockerfile-couchdb
    environment:
      - COUCHDB_USER=admin
      - COUCHDB_PASSWORD=none
    ports:
      - 5984:5984
      - 6984:6984
  app:
    depends_on:
      - couchdb
    build:
      context: ./
      dockerfile: ./Dockerfile
    ports:
      - 3186:3186
    environment:
      - FOO=too